@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border p-0 m-0;
}

body {
  @apply text-primary;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

.bodyText {
  @apply opacity-70 font-medium max-sm:text-sm;
}

.heading1 {
  @apply text-[30px] md:text-[40px] font-bold;
}

.heading2 {
  @apply text-lg max-sm:text-base font-medium;
}

.heading3 {
  @apply font-bold text-xl md:text-2xl;
}

button {
  @apply disabled:opacity-65;
}

.react-tel-input {
  border-color: #ddd !important;
  border-radius: 8px !important;
  height: 64px;
}

.phone-input-container {
  width: 100%;
}

.react-tel-input input {
  width: 100% !important;
  color: #333 !important;
  font-size: 1rem !important;
  height: 64px !important;
  padding-left: 70px !important;
}

.react-tel-input .flag-dropdown {
  background-color: #fff !important;
  padding: 0 10px !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

/* Swiper button overrides */
.swiper-button-prev,
.swiper-button-next {
  color: #f8af24 !important; /* Change button color */
}

/* Optional: Change hover effect */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

/* Swiper pagination dot overrides */
.swiper-pagination-bullet {
  background-color: #f8af24 !important; /* Dot color */
}

/* Active dot styling */
.swiper-pagination-bullet-active {
  background-color: #ff5733; /* Change color of active dot */
  transform: scale(1.2); /* Optional: enlarge active dot */
}

/* Target devices between 320px and 768px */
@media (min-width: 320px) and (max-width: 1024px) {
  .react-tel-input {
    height: 56px;
  }

  .react-tel-input input {
    height: 56px !important;
  }
}
